@media (min-width: 1800px) {
  .wrapper {
    width: 100%;
  }

  header {
    background-size: cover;
  }

.socials {
  font-size: 5.5rem;
  position: absolute;
  bottom: 20%;
  right: 5%;
}

  h1 {
    font-size: 16.2rem;
  }

  h2 {
    font-size: 11.2rem;

  }

  .brushes-content h2,
  .paint-content h2, .product-content h2 {
    line-height: 7rem;
  }

  .product-content p {
    margin-bottom: 50px;
  }

  h3, .mid-section-nav .far {
    font-size: 9.5rem;
  }

  p {
    font-size: 4rem;
    line-height: 4.8rem;
  }

  .button {
    font-size: 5rem;
  }

  nav a {
    font-size: 4rem;
  }

::placeholder,
input[type="email"],
input[type="submit"] {
  font-size: 5rem;
  padding: 10px 20px;
}

  /* start of product section */

  .product-image {
    width: calc(40% - 10px);
  }

  .product-content {
    width: calc(60% - 10px);
    margin: 0 0 0 20px;
  }
  /* end of product section */


input[type="email"] {
  height: 50px;
  width: 20vw;
}

.footer-nav li {
margin: 20px 0;}

.contact p {
  font-size: 2rem;
}



}

@media (max-width: 1280px) {
  .footer-nav {
    width: 20%;
  }

  input[type="email"] {
    width: 25vw;
  }

  .contact {
    width: 30%;
  }

}

@media (max-width: 1200px) {
  /* start of product section */

  .product-image {
    width: calc(35% - 10px);
  }

  .product-content {
    width: calc(65% - 10px);
    margin: 0 0 0 20px;
  }
  /* end of product section */

  /* brushes and paint sections */

  /* start of brushes */
  .brushes-content {
    padding: 5vw 100px 0 0;
  }

  .brushes-content h2 {
    margin-bottom: 10px;
  }

  /* end of brushes */
  /* start of paint */
  .paint-content {
    padding: 8vw 0 0 40px;
  }

  .paint-content h2 {
    margin-bottom: 20px;
  }

  /* end of paint */
  /* end of brushes and paint */
}

@media (max-width: 1050px) {
  /* start of product section */

  .product-image {
    width: calc(50% - 10px);
    padding-top: 2vw;
  }

  .product-content {
    width: calc(50% - 10px);
    margin: 0 0 0 20px;
  }
  /* end of product section */

  /* brushes and paint sections */
  .brushes-content p,
  .paint-content p {
    margin-bottom: 15px;
  }

  /* start of brushes */
  .brushes-content {
    padding: 4vw 20px 0 0;
  }

  .brushes-content h2 {
    margin-bottom: 10px;
  }

  /* end of brushes */
  /* start of paint */
  .paint-content {
    padding: 5vw 0 0 40px;
  }

  .paint-content h2 {
    margin-bottom: 20px;
  }

  /* end of paint */
  /* end of brushes and paint */
}

@media (max-width: 1000px) {
  .wrapper {
    width: 85%;
  }

  /* centering all p tags */
  .product-content p,
  .brushes-content p,
  .paint-content p {
    text-align: left;
    padding: 0;
  }

  h2 {
    font-size: 4.5rem;
  }

  p {
    font-size: 1.8rem;
  }

  /* footer */
  .footer-nav ul {
    margin: 0 auto;
  }

  .footer-nav li {
    float: left;
    width: calc(100% / 4);
    text-align: center;
    margin: 0 0 10px 0;
  }

  .footer-nav,
  .subscribe,
  .contact,
  input.email {
    float: none;
    width: 100%;
  }

  .subscribe,
  .contact {
    margin: 0;
    padding: 0;
  }

  .sign-up {
    text-align: center;
  }

  .contact h3,
  p,
  ::placeholder {
    text-align: center;
  }

  .sub-btn {
    float: none;
    margin: 15px 0;
  }

  input[type="email"] {
    width: 50%;
    padding: 10px;
  }
  ::placeholder {
    text-align: left;
  }
  /* end of footer */
}

@media (max-width: 900px) {
  /* centering all p tags */
  .product-content p,
  .brushes-content p,
  .paint-content p {
    text-align: center;
    padding: 0 50px;
  }

  /* product section */
  .product-image {
    width: 40%;
    margin: 0 auto;
  }

  .product-image,
  .product-content {
    float: none;
  }

  .product-content {
    width: 100%;
    margin: 0;
  }

  .product-content h2,
  .read-more {
    padding-top: 20px;
    margin: 0;
    text-align: center;
  }

  /* end of product section */

  /* brushes and paint section */
  .brushes-image,
  .paint-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  .brushes-content,
  .paint-content {
    width: 100%;
    position: static;
    margin: 0;
    text-align: center;
    padding: 40vw 0 10vw 0;
  }

  .brushes-content p,
  .paint-content p {
    margin-bottom: 40px;
  }

  /* end of brushes and paint section */
}

@media (max-width: 768px) {
  .wrapper {
    width: 80%;
    max-width: 768px;
  }

  header h1 {
    font-size: 12rem;
    width: 50%;
    line-height: 7rem;
    padding-top: 30%;
  }

  h2 {
    font-size: 6.5rem;
  }

  p {
    font-size: 1.8rem;
  }
  header {
    background-position: 50% 20%;
  }

  .hamburger {
    display: block;
    text-align: right;
    color: white;
    font-size: 4rem;
    padding-top: 20px;
    cursor: pointer;
  }

  .socials {
    display: none;
  }

  .header-nav {
    display: none;
  }

  /* exhibitions */
  .exhibitions {
    padding: 50px 0;
  }

  .exhibitions h2 {
    padding: 20px 0;
  }
  .exhibitions li {
    width: calc(50% - 10px);
    margin: 0;
  }

  .exhibitions ul li:nth-last-of-type(1) {
    margin-left: 5px;
  }

  .exhibitions ul li:nth-last-of-type(2) {
    margin-right: 5px;
  }

  .exhibitions ul li:nth-last-of-type(3) {
    display: none;
  }

  .brushes-content,
  .paint-content {
    padding: 50vw 0 10vw 0;
  }
}

@media (max-width: 550px) {
  h2 {
    font-size: 5rem;
  }

  .product-image {
    width: 100%;
  }

  .brushes-content,
  .paint-content {
    padding: 70vw 0 10vw 0;
  }

  .product-content p,
  .brushes-content p,
  .paint-content p {
    padding: 0;
  }

  /* mid-sect-nav */
  .mid-section-nav {
    padding: 50px 0;
  }

  .mid-section-nav li {
    float: none;
    width: 100%;
    margin: 30px 0;
  }
}

@media (max-width: 425px) {
  .wrapper {
    width: 90%;
    max-width: 425px;
  }

  header h1 {
    font-size: 9rem;
    width: 50%;
    line-height: 5rem;
    padding-top: 40%;
  }

  h2 {
    font-size: 5.5rem;
  }

  p {
    font-size: 1.8rem;
  }
  header {
    background-position: 50% 20%;
  }

  .hamburger {
    display: block;
    text-align: right;
    color: white;
    font-size: 4rem;
    padding-top: 20px;
    cursor: pointer;
  }

  .socials {
    display: none;
  }

  .header-nav {
    display: none;
  }

  /* product section */
  .product-image,
  .product-content {
    float: none;
    width: 100%;
    margin: 0;
  }

  .product-content h2 {
    padding: 20px;
    text-align: center;
  }

  .read-more {
    text-align: center;
  }

  .product-content p {
    text-align: left;
  }

  /* exhibitions */
  .exhibitions {
    padding: 50px 0;
  }

  .exhibitions h2 {
    padding: 20px 0;
  }
  .exhibitions li {
    width: calc(50% - 10px);
    margin: 0;
  }

  .exhibitions ul li:nth-last-of-type(1) {
    margin-left: 5px;
  }

  .exhibitions ul li:nth-last-of-type(2) {
    margin-right: 5px;
  }

  .exhibitions ul li:nth-last-of-type(3) {
    display: none;
  }

  .brushes-content,
  .paint-content {
    padding: 80vw 0 10vw 0;
  }
}
