/* Color pallette */
/* 
    Dark: #201E21
    Barney purple: #A7059B
    Light pink: #F7DAE8
    Very light pink: #FFE9E9
    Ocean Blue: #0178A5
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "East Sea Dokdo", cursive;
}

/* fonts */
h1 {
  font-size: 11.2rem;
  text-align: right;
  line-height: 9.43rem;
}

h2 {
  font-size: 6.5rem;
  line-height: 3.6rem;
}

h3 {
  color: #201e21;
  font-size: 4.5rem;
  text-align: center;
  line-height: 3.6rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.button,
input[type="submit"] {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  text-align: center;
  line-height: 2.9rem;
  background: #0178a5;
  color: white;
  padding: 5px 20px;
}

.purple-button {
  background: #a7059b;
}

/* icons */
.fab {
  color: white;
}

/* nav */
nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.2px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* misc */
.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

/* hover states */
i:hover {
  color: #0178a5;
}

.catalogue h3:hover,
.events h3:hover,
.collaborations h3:hover,
ul a:hover {
  color: lightgray;
}

.button:hover,
input[type="submit"]:hover {
  background: #f7dae8;
  border: 1px solid #0178a5;
  color: #201e21;
}

/* end of global styles */

/*  header styles */
header {
  background-image: url(../assets/header-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.hamburger {
  display: none;
}

.header-nav ul li {
  float: left;
  margin: 20px 30px 0 0;
}

header h1 {
  padding-top: 21%;
  text-align: left;
}

.socials {
  font-size: 2.5rem;
  position: absolute;
  bottom: 120px;
  right: 25px;
  text-align: center;
  padding: 10px 0;
}
/* end of header styles */

/* start of main */
/* start of product section */
.product {
  background: #ffe9e9;
  padding: 12vh 0;
}

.product-image,
.product-content {
  float: left;
}

.product-image {
  width: calc(27% - 20px);
}

.product-content {
  width: calc(73% - 20px);
  margin: 0 0 0 40px;
}

.product-content p {
  margin: 20px 0;
}

/* end of product section */

/* start of exhibitions */
.exhibitions {
  background: #f7dae8;
  padding: 120px 0;
}

.exhibitions h2 {
  text-align: center;
  padding: 10px 0 70px 0;
}

.exhibitions li {
  float: left;
  width: calc((100% - 80px) / 3);
  margin-right: 40px;
  margin-bottom: 40px;
}

.exhibitions li:nth-of-type(3) {
  margin-right: 0;
}
/* end of exhibitions */

/* start of mid-section-nav */
.mid-section-nav {
  background: #ffe9e9;
  padding: 100px 0;
}

.mid-section-nav li {
  float: left;
  width: calc(100% / 3);
}

.mid-section-nav .far {
  font-size: 5.5rem;
  color: #0178a5;
  display: block;
}

.mid-section-nav a {
  text-align: center;
}

/* end of mid-section-nav */

/* brushes and paint sections */
.brushes,
.paint {
  background: #f7dae8;
  position: relative;
}

.brushes-image,
.paint-image {
  position: absolute;
  width: 50%;
}

.brushes-content p,
.paint-content p {
  margin-bottom: 30px;
}

/* start of brushes */
.brushes-content {
  width: 50%;
  padding: 8vw 100px 0 0;
  min-height: 37vw;
}

.brushes-content h2 {
  line-height: 50px;
  margin-bottom: 20px;
}

.brushes-image {
  top: 0;
  right: 0;
}
/* end of brushes */
/* start of paint */
.paint-content {
  padding: 10vw 0 0 90px;
  margin-left: 50%;
  min-height: 37vw;
}

.paint-content h2 {
  margin-bottom: 20px;
}

.paint-image {
  top: 0;
  left: 0;
}
/* end of paint */
/* end of brushes and paint */
/* end of main */
/* start of footer */
footer {
  padding-top: 5vw;
  background: #ffe9e9;
}

.footer-title {
  width: 100%;
  text-align: center;
}

.footer-nav,
.subscribe,
.contact {
  float: left;
}

.footer-nav {
  width: 25%;
}

.subscribe {
  text-align: center;
  width: 50%;
  margin: 0 0 80px 0;
}

.contact {
  text-align: right;
  float: left;
  width: 25%;
}

.contact h3 {
  text-align: right;
}

.contact p {
  font-size: 1.6rem;
}

input {
  float: left;
}

input[type="email"] {
  height: 40px;
  width: 28vw;
}

::placeholder,
input[type="email"] {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.contact,
.footer-nav {
  padding: 20px 0 0 0;
}

.subscribe h3,
.subscribe p {
  margin: 0 0 15px 0;
}

.page-end {
  background: #201e21;
  color: white;
  padding: 10px;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
}
/* end of footer */
