/* Color pallette */
/* 
    Dark: #201E21
    Barney purple: #A7059B
    Light pink: #F7DAE8
    Very light pink: #FFE9E9
    Ocean Blue: #0178A5
*/

html {
  font-size: 62.5%;
}

body {
  font-family: "East Sea Dokdo", cursive;
}

img {
  width: 100%;
}

h1 {
  font-size: 12.2rem;
  text-align: right;
  line-height: 9.43rem;
}

h2 {
  font-size: 7.5rem;
  line-height: 3.6rem;
}

h3 {
  color: black;
  font-size: 5.5rem;
  text-align: center;
  line-height: 3.6rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 29px;
  letter-spacing: 0.2px;
}

.button {
  font-size: 4.5rem;
  text-align: center;
  line-height: 2.9rem;
  background: #0178a5;
  color: white;
  padding: 5px 20px;
}

input[type="button"] {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* icons */
.fab {
  color: white;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

/* end of global styles */

/*  header styles */
header {
  background-image: url(../assets/header-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.header-nav ul li {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.2px;
  float: left;
  margin: 20px;
}

header h1 {
  padding-top: 20%;
  text-align: left;
}

.socials {
  font-size: 2rem;
  position: absolute;
  bottom: 15%;
  right: 5%;
}
/* end of header styles */

/* start of main */
/* start of product section */
.product {
  background: #ffe9e9;
  padding: 10vh 0;
}

.product-image,
.product-content {
  float: left;
}

.product-image {
  width: calc(30% - 20px);
}

.product-content {
  width: calc(70% - 20px);
  margin: 0 0 0 40px;
}

.product-content p {
  margin: 20px 0;
}

.product-content .button {
  margin: 0;
}

/* end of product section */

/* start of exhibitions */
.exhibitions {
  background: #f7dae8;
  padding: 120px 0;
}

.exhibitions h2 {
  text-align: center;
  padding-bottom: 70px;
}

/* changing styles for exhibition and mid section nav */
.exhibitions li,
.mid-section-nav li {
  float: left;
  width: calc((100% - 80px) / 3);
  margin-right: 40px;
  margin-bottom: 40px;
}

/* changing styles for exhibition and mid section nav */
.exhibitions li:nth-of-type(3),
.mid-section-nav li:nth-of-type(3) {
  margin-right: 0;
}
/* end of exhibitions */

/* start of mid-section-nav */
.mid-section-nav {
  background: #ffe9e9;
  padding: 100px 0;
}

.mid-section-nav .far {
  font-size: 5.5rem;
  color: #0178a5;
  display: block;
}

.mid-section-nav a,
.mid-section-nav h3 {
  text-align: center;
}
/* end of mid-section-nav */

/* styling for brushes and paint sections */
.brushes,
.paint {
  background: #f7dae8;
  position: relative;
}

.brushes-content,
.paint-content {
  width: 50%;
}

.brushes-image,
.paint-image {
  position: absolute;
  width: 50%;
}

/* start of brushes */

.brushes-content {
  padding: 140px 0;
}

/* adding paddings for brushes-content elements */
  .brushes-content * {
    margin-bottom: 20px;
  }


.brushes-content .button {
  background: #A7059B;
}

.brushes-image {
  top: 0;
  right: 0;
}
/* end of brushes */
/* start of paint */

.paint-content {
}

.paint-image {
  top: 0;
  left: 0;
}

/* end of paint */
/* end of main */
